<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-weight: bold;">K</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Products</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/sign-in">Login</a> -->
          </li>
        </ul>
        <form class="d-flex text-bg-dark">
        <div class="mx-2">
          <a class="nav-link text-bg-dark btn btn-outline-primary" href="/sign-in">Login</a>
        </div>

        <div class="mx-2">
          <a class="nav-link text-bg-dark btn btn-outline-primary" href="/sign-up">Register reg</a>
        </div>

          <div class="mx-2">
            <a class="nav-link text-bg-dark btn btn-danger" href="/sign-in">Logout</a>

        </div>
                </form>
      </div>
    </div>
  </nav>