<%-include('../includes/user/header.ejs') %>

</head>
<body>
  <%-include('../includes/user/navbar.ejs') %>

  <%-include('../includes/user/footer.ejs') %>
  <div class="my-5">
      <h3>Hello</h3>
     <% if (!Users) {%>
      <p>Guest</p>
      <%}
      else { %>
        <p class="text-danger"> <%= Users.email %> </p>
    <%  }
  %>
  </div>

</body>